/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    
    /* Light Theme */

    --light-theme-primary: #81c784;
    --light-theme-primary-light: #b2fab4;
    --light-theme-primary-dark: #519657;
    
    --light-theme-background: #ffffff;
    --light-theme-surface: #e8f5e9;

    --light-theme-focus: orange;

    --light-theme-border-thick: 2px solid grey;
    --light-theme-border-thin: 0.5px solid grey;
    
    --light-theme-secondary-text: grey;

    --light-theme-box-shadow: 2px 2px 10px 2px grey;

    /* Dark Theme */
    
    --dark-theme-primary: #4caf50;
    --dark-theme-primary-light: #80e27e;
    --dark-theme-primary-dark: #087f23;

    --dark-theme-background: #373737;
    --dark-theme-surface: #424242;

    --dark-theme-border-thick: 2px solid rgb(191, 191, 191);
    --dark-theme-border-thin: 0.5px solid rgb(191, 191, 191);

    --dark-theme-secondary-text: rgb(156, 156, 156);

    --dark-theme-box-shadow: 2px 2px 10px 2px rgb(66, 66, 66);

    /* Theme toggle */

    --toggle-width: 80px;
    --toggle-height: calc(var(--toggle-width) / 2);
    --toggle-padding: 5px;
    --toggle-border-width: 2px;
    --toggle-circle: calc(var(--toggle-width) / 2 - var(--toggle-padding) * 2 - var(--toggle-border-width) * 2);
    --sun-color-for-theme-toggle: rgb(255, 190, 68);
    --moon-color-for-theme-toggle: rgb(255, 255, 255);

    /* Global */

    --transition: 0.3s;
    --rowHeight: 50px;
    --global-padding: 32px;
    --global-padding-small: 16px;
    --border-radius: 16px;
}

.lightTheme {
    --primary: var(--light-theme-primary);
    --primary-light: var(--light-theme-primary-light);
    --primary-dark: var(--light-theme-primary-dark);

    --background: var(--light-theme-background);
    --surface: var(--light-theme-surface);

    --focus: var(--light-theme-focus);

    --border-thick: var(--light-theme-border-thick);
    --border-thin: var(--light-theme-border-thin);

    --text: black;
    --secondary-text: var(--light-theme-secondary-text);

    --box-shadow: var(--light-theme-box-shadow);
    
    transition: var(--transition);
}
.darkTheme {
    
    --primary: var(--dark-theme-primary);
    --primary-light: var(--dark-theme-primary-dark);
    --primary-dark: var(--dark-theme-primary-dark);
    
    --background: var(--dark-theme-background);
    --surface: var(--dark-theme-surface);

    --border-thick: var(--dark-theme-border-thick);
    --border-thin: var(--dark-theme-border-thin);
    
    --text: white;
    --secondary-text: var(--dark-theme-secondary-text);
    
    --box-shadow: var(--dark-theme-box-shadow);

    transition: var(--transition);
}

/* Typography */

h1, h2, h3, p, input, input::placeholder {
    color: var(--text);
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
}

/* Rest */

body {
    padding: var(--global-padding);
    height: 100vh;
}

.mainContainer {
    height: 100%;

    padding: var(--global-padding);

    background-color: var(--background);
    border: var(--border-thick);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 1fr;
    justify-content: center;

    background-image: url("../resources/clouds.jpg");
    background-size: cover;
}

.headerRow {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.city, .country {
    width: 200px;
    color: white;
    font-size: 28px;
    font-weight: 800;
    padding: var(--global-padding-small);
    border: none;
    outline: none;
    background: none;
}

.city::placeholder, .country::placeholder {
    color: white;
}

.city:hover, .country:hover, .temperatureUnit:hover, .dayContainer:hover {
    background-color: var(--primary);
    transition: var(--transition);
}

.city:focus, .country:focus {
    background-color: var(--focus);
    transition: var(--transition);
}

.temperatureUnit {
    margin-left: auto;
    font-size: 28px;
    font-weight: 800;
    color: white;
    padding: var(--global-padding-small); 
    background: none;   
}

/* Days Rows */

.daysRow {
    grid-row: 2 / 3;

    display: flex;
    align-items: center;

    background-color: var(--background);
}

.dayContainer {
    border: var(--border-thick);
    padding: var(--global-padding-small);
    text-align: center;
    height: 200px;
    flex: 1;
    transition: var(--transition);
}

.dayContainer:not(:last-of-type) {
    border-right: none;
}

.selectedDayContainer {
    background-color: var(--surface);
    border-bottom: none;
    flex: 2;
}

.mainDayContainer {
    padding: var(--global-padding-small);

    background-color: var(--surface);
    border: var(--border-thick);
    border-top: none;

    grid-row: 3 / 4;
    display: flex;
}

.hourContainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    border-right: var(--border-thin);
}

.hourContainer:last-of-type {
    border-right: none;
}

.hourContainer > * {
    flex: 1;
}