* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

p {
    text-align: center;
}

.mainContainer {
    height: 100vh;

    padding: 32px;

    background-color: antiquewhite;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 150px 1fr;
    justify-content: center;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daysRow {
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
}

.dayContainer {
    height: 150px;
    background-color: aqua;
    flex: 1;
}

.selectedDayContainer {
    background-color: blue;
}

.mainDayContainer {
    grid-row: 3 / 4;
    display: flex;
}

.hourContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hourContainer > * {
    flex: 1;
}